<p id="notice"><%= notice %></p>

<p>
  <strong>Field1:</strong>
  <%= @capistrano_study_model.field1 %>
</p>

<p>
  <strong>Field2:</strong>
  <%= @capistrano_study_model.field2 %>
</p>

<p>
  <strong>Field3:</strong>
  <%= @capistrano_study_model.field3 %>
</p>

<p>
  <strong>Field4:</strong>
  <%= @capistrano_study_model.field4 %>
</p>

<%= link_to 'Edit', edit_capistrano_study_model_path(@capistrano_study_model) %> |
<%= link_to 'Back', capistrano_study_models_path %>
